.wrapper {
    border-top: 1px solid #f1f1f2;
}

.label {
    font-size: 14px;
    padding: 8px;
    font-weight: 600;
}
.account-item {
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
    line-height: 1.1;
}

.nickname {
    margin-top: 0;
    font-size: 16px;
    color: #161823;
}

.check {
    margin-left: 4px;
    font-size: 16px;
    color: rgb(32, 213, 236);
}

.name {
    display: block;
    font-size: 14px;
    color: #161823bf;
}

.see-more {
    font-size: 14px;
    color: #fe2c55;
    padding: 8px;
    font-weight: 700;
    cursor: pointer;
}
