:root {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-bottom: 52px;
}

.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inner {
    height: 60px;
    width: 1150px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

//actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    background: transparent;
    font-size: 22px;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.bnt-more {
    font-size: 20px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: contain;
    margin-left: 12px;
    cursor: pointer;
}

// custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: #333;
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
